import os

def isFileMalicious(file_path):
    try:
        with open(file_path, "rb") as file:
            fileContent = file.read()
            if fileContent:
                return True
        return False
    except FileNotFoundError:
        print("Arquivo não encontrado")
        return False


if __name__ == "__main__":
    file_path = r"colar o caminho do arquivo AQUI"

    if isFileMalicious(file_path):
        print("Um possível arquivo malicioso foi detectado")
        os.remove(file_path)
        print("Arquivo deletado")
    else:
        print("Arquivo livre de vírus")
